body {
  line-height: 1.2;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin: 0px auto;
}
.wrapper {
  margin: 0px auto;
  position: relative;
  z-index: 1;
}
header {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
}
.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0px auto;
}
.nav-menu {
  display: flex;
  justify-content: center;
  margin: 0px 0px 128px 0px;
}
.logo {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 33px;
}
.log-links {
  text-decoration: none;
  color: #fff;
  border: 3px solid transparent;
  width: 92px;
  padding: 8px 15px 12px 15px;
  text-align: center;
  transition-duration: 100ms;
  transition-timing-function: linear;
}
.log-links:hover {
  padding: 8px 15px 12px 15px;
  height: 36px;
  border-radius: 50px;
  border-color: #fff;
}
.services {
  background-image: url(../img/Vector\ Smart\ Object.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 72px;
}
.wrap {
  background-color: rgba(26, 25, 21, 0.35);
  padding-top: 247px;
}
.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  max-width: 320px;
  text-transform: uppercase;
  text-align: center;
  font-size: 29px;
  color: #fff;
  margin: 0px;
  margin-bottom: 20px;
}
.info,
span {
  display: block;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.info {
  margin-bottom: 30px;
}
.share-key {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #ff4e50;
  padding: 13px 36px 13px 36px;
  border-radius: 22px;
  margin-bottom: 154px;
}
main {
  margin-bottom: 56px;
}
.title-text {
  color: #333333;
  text-align: center;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 18px;
}
.members-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-box {
  display: flex;
  position: relative;
  margin-bottom: 18px;
}
.icon {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 35px;
  min-height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-radius: 100%;
  border: 3px solid #fff;
}
.bradley {
  background-image: url(../img/1.1.png);
  background-color: #ff4e50;
}
.heather {
  background-image: url(../img/2.2.png);
  background-color: #ffa507;
}
.lucas {
  background-image: url(../img/3.3.png);
  background-color: #1cd7ad;
}
.hunter {
  background-image: url(../img/4.4.png);
  background-color: #4e73db;
}
.name {
  text-decoration: none;
  color: #333333;
  margin-bottom: 19px;
}
.biography {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  color: #666666;
}
.btn {
  display: block;
  margin: auto;
  max-width: 290px;
  color: #ff4e50;
  text-decoration: none;
  border-style: none;
  background-color: white;
  border: 2px solid #ff4e50;
  padding: 10px 74px 10px 74px;
  border-radius: 22px;
}
@media (max-width: 767px) {
  .member-item [class*="col-"]:nth-child(-n + 4) {
    margin-bottom: 28px;
  }
  .member-item [class*="col-"]:nth-child(2n + 1) {
    margin-right: 0px;
  }
}
@media (min-width: 768px) {
  header {
    top: 47px;
  }
  .nav-menu {
    margin: 0px;
  }
  .logo {
    margin: 0px;
  }
  .services {
    margin-bottom: 74px;
  }
  .title {
    max-width: 620px;
    font-size: 52px;
    margin-bottom: 41px;
  }
  .info,
  span {
    display: flex;
    flex-direction: row;
    font-size: 24px;
  }
  .info {
    margin-bottom: 37px;
  }
  .share-key {
    margin-bottom: 233px;
  }
  main {
    margin: 0px auto;
    margin-bottom: 40px;
  }
  .title-text {
    margin-bottom: 34px;
  }
  .btn {
    max-width: 196px;
    padding: 14px 27px 14px 27px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .member-item [class*="col-"]:nth-child(2n + 1) {
    margin-right: 52px;
  }
  .member-item [class*="col-"]:nth-child(-n + 2) {
    margin-bottom: 58px;
  }
  .member-item [class*="col-"]:not(:nth-child(-n + 2)) {
    margin-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .conteiner {
    width: 942px;
  }
  .logo {
    margin-right: 570px;
  }
  main {
    margin-bottom: 73px;
  }
    .member-item [class*="col-"]:nth-child(-n + 4) {
    margin-bottom: 0px;
  }
  .member-item {
    margin-bottom: 39px;
  }
}
